<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Personajes</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
</head>

<body style="background-color: white;">
    <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: transparent;border-radius: 20px 20px 20px 20px;">
        <li style="float: left;font-size: 20px;text-decoration: none;padding: 20px; width:8%;">
            <a style="color: black;text-decoration: none;" href="/">Inicio</a>
        </li>
    </ul>
 
    <h3 style="text-align:center;color: darkgray;">Modificación de los datos de {{nombre}}</h3>
    <h6 style="text-align:center">Ingrese datos solo en los campos que desea modificar</h6>
    <div style="background-color: darkgray;font-size: 14px;display:block;margin:auto;width: 400px;height: 280px;border-radius: 20px;padding: 10px;">
          
        <form action="modificar" method="POST">
            <p style="height: 18px;"><input style="width: 100%;" type="text" name="nuevoName" placeholder="Nombre del restaurant: "></p>
            <p style="height: 18px;"><input style="width: 100%;" type="text" name="nuevoBorough" placeholder="Ciudad: "></p>
            <p style="height: 18px;"><input style="width: 100%;" type="text" name="nuevoStreet" placeholder="Dirección: "></p>
            <p style="height: 18px;"><input style="width: 100%;" type="text" name="nuevoCuisine" placeholder="Tipo de cocina: "></p>
            <p style="height: 15px;"><input style="width: 100%;" type="text" name="nuevoCoord1" placeholder="Latitud: "></p>
            <p style="height: 15px;"><input style="width: 100%;" type="text" name="nuevoCoord0" placeholder="Longitud: "></p>
            <input value="{{nombre}}" type="hidden" class="form-control" name="name" id="name">
            <p style="margin-top: 30px;"><input style="display:block;margin:auto;background-color: gray;color: white;border-radius: 10px;" type="submit" value="GUARDAR CAMBIOS"></p>
        </form>
    </div>
</body>
</html>